$primary: white;
$secondary: rgb(51, 53, 56);
$success: rgb(242, 132, 14);
// $success: darken(rgb(242, 132, 14),14%); // Lighthouse préfère cette couleur, mais pas moi. :(
$fontsize: 1.2rem;
$borderradius: 0.5em;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
header{
    h1{
        background-color: $secondary ; 
        border:0.08em solid $success ;
        border-radius: 100%;
        margin: 0;
    }
}
body {
    font-family: "Titre";
    font-size: $fontsize;
}
.navbar{

    background-color: $secondary;
    button{
        color: $success;
    }
    
}


nav{
 @extend .bg-secondary;

}
a{
    border-radius: $borderradius;
    text-decoration-line: none;
       
    &:hover{
        background-color:$success ;

    }      
}

.active{
   background-color: $success;
   border-radius: $borderradius;
}
main {
    background-color:$success;
}

 aside{
    
     background-color:$success;
     p{
         @extend .text-primary;
         @extend .mt-5;
         text-align: justify
         
     }
 }
 .modal{
     .modal-body{
         @extend .bg-secondary;
     }
 }
 .filariane{
     @extend .bg-secondary;
    
     a{
     text-decoration: none;
     margin-top: 2px;
    }
 }
 .bgcolor{
     background-color:$success ;
      .card{
        height: 100%;
        background-color: $secondary;
        p{
            color: white;
            text-align: justify;
        }
        a{
            color: $success;
            &:hover{
                background-color: $primary;
            }
        }
      }
 }
 .table{
     margin-top: 15px;
     text-align: center;
     height: 400px;
    thead{
    //   font-family: "Titre";
    //   font-size: $fontsize;
      color: $primary
  }
  .rayure{
     background-color: $primary;
  }
 }
 .alert{
     border: 5px solid $success;
     border-radius: $borderradius;
     a{
         color: $success;
         &:hover{
             background-color: $secondary;
         }
     }
}

.card-description{
    @extend .card-text;
    font-size: 0.8em;
    height: 7.5em;
}

.card-infolink {
    @extend .card-link, .bg-success, .px-3, .stretched-link;    
}

@mixin fade-in($waitTime) {
    animation: 
        wait #{$waitTime},
        fade-in 800ms #{$waitTime};
}

@keyframes wait {
    0% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.card {
    @include fade-in('500ms');
}

form{
legend{
    color: $primary; 
    border-bottom: 2px solid $primary;   
}
 .btn{
     &:hover{
         background-color: $success;
     }
 }
}

.figure-caption {
        color:lighten($success, $amount: 25%)
}

.footer-colors {
    @extend .p-3, .bg-dark, .text-white;
    font-size: 1.2em;
    figcaption {
        color:lighten($success, $amount: 25%)
    }
}

.banniere {
    @extend .p-4, .text-center;
    @extend .d-flex, .justify-content-center, .align-items-center;
    background-color: darken($success,25%);
    background-image: url(img/maroc21.png);
    width: 100%;
    height: auto;
}

@font-face {
    font-family: "Titre";
    font-style: Tahoma, sans-serif;
    src: url(img/Englebert-Regular.ttf); 
    font-display: swap;
}
