$primary: white;
$secondary: rgb(51, 53, 56);
$success: rgb(242, 132, 14);

@import 'node_modules/bootstrap/scss/bootstrap.scss';
header{
    font-family: "Titre";
    h1{
        font-weight: bold; 
        background-color: $secondary ; 
        border:2px solid $success ;
        border-radius: 100%;
    }
}
.navbar{

    background-color: $secondary;
    font-family: "Titre";
    font-size: 25px;
    button{
        color: $success;
    }
    
}


nav{
 @extend .bg-secondary;

}
a{
    font-family: "Titre";
    font-size: 25px;
       
    &:hover{
        background-color:$success ;
        border: 2px solid white;
        border-radius: 15px;

    }      
}

.active{
   background-color: $success;
   border-radius: 15px;
}
 section{
    margin-right: -.5%;
 }
 aside{
    
     background-color:$success;
     p{
         @extend .text-primary;
         @extend .mt-5;
         font-size: 25px;
         text-align: justify
         
     }
 }
 .modal{
     .modal-body{
         @extend .bg-secondary;
     }
 }
 .filariane{
     @extend .bg-secondary;
    
     a{
     text-decoration: none;
     margin-top: 2px;
    }
 }
 .bgcolor{
     background-color:$success ;
      .card{
        height: 100%;
        background-color: $secondary;
        p{
            color: white;
            text-align: justify;
        }
        a{
            color: $success;
            &:hover{
                background-color: $primary;
            }
        }
      }
 }
 .table{
     margin-top: 15px;
     text-align: center;
     height: 400px;
    thead{
      font-family: "Titre";
      font-size: 25px;
      color: $primary
  }
  .rayure{
     background-color: $success;
  }
 }
 .alert{
     border: 5px solid $success;
     border-radius: 15px;
     a{
         color: $success;
         &:hover{
             background-color: $secondary;
         }
     }
}


 @font-face {
    font-family: "Titre";
    src: url(img/Englebert-Regular.ttf); 
}